body::-webkit-scrollbar{display:none;}

:root {
    --primary: #5c2731;
    --secondary: #ead3c1;
    --wild: #f9f871;
    --dark: #000;
}
*{
    font-family:"Sansita";
    padding:0px;
    margin:0px;
    border:none;
    box-sizing:border-box;
    color:var(--secondary);
    font-size:26px;
    text-decoration:none;
    user-select:none;
}
body{
    background-image: url("./assets/others/wooden-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:160vh;
    min-width:100vw;
    position:relative;
}
#root{
    max-width:60rem;
    margin:0 auto;
}
